* {
  box-sizing: border-box;
}

body {
  font-family: "Goudy Bookletter 1911", system-ui;
  margin: 0;
  background-color: #EFF1ED;
}

h1 {
  font-size: 2.5rem;
  color: #2c292b;
}

h2 {
  font-size: 1.5rem;
  color: #2c292b;
}
